.skip-link {
	position: absolute;
  	left: -9999px;
  	width: 1px;
  	height: 1px;
	text-align: center;
	line-height: 2em;
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
}
.skip-link:focus {
  	display: inline-block;
  	width: 125px;
	height: auto;
  	position: static;
}